body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: wheat;
  }
  .login-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.login-container {
    text-align: center;
    padding: 50px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.create-account {
    padding: 10px 20px;
    background-color: #008CBA; /* Blue color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: block; /* Makes it full-width if needed */
    margin: 10px auto; /* Centers it */
}

.create-account:hover {
    background-color: #0073a6; /* Darker blue on hover */
}
