<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>FEELFLOW</title>
    <script src="{{ url_for('static', filename='static/js/index.js') }}" defer></script>

</head>
<body>
    <div class="container">
        <h1>FEELFLOW</h1>
        <a href="/login">
            <button class="login-btn">Go to Login</button>
        </a>
    </div>

</body>
</html>
